.box:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.is-1by2:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

a:hover {
    transform: scale(1.3);
    transition: all 0.5s;
}